<template>
<!-- <div>Test</div> -->
<div>
  <TestPlayers/>
  <PryPlayers/>
</div>
</template>

<script>
import TestPlayers from '@/components/Testplayer.vue'
import PryPlayers from '@/components/PryPlayers.vue'

export default {
  name: 'HomeView',

  components: {
    TestPlayers,
    PryPlayers
  }
}
</script>
