<template>
    <div>
      <table>
        <thead>
            <tr>
                <th colspan="2">Players</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>N°</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Score</th>
                <th>Level</th>
                <th>Cellphone</th>
                <th>Actions</th>
            </tr>
            <tr v-for="(player, index) in players" :key="index">
                <td>{{index + 1}}</td>
                <td>{{player.name}}</td>
                <td>{{player.lastname}}</td>
                <td>{{player.puntaje}}</td>
                <td>{{player.nivel}}</td>
                <td>{{obtainNumber(player)}}</td>
                <div>
                  <button @click="deletePlayer(player.idPlayer)">Delete</button>
                </div>
            </tr>
        </tbody>
      </table>

      <hr>
      <input v-model.trim="searchQuery" type="text">
      <button @click="getPlayerById">Get player</button>
      <span>{{player}}</span>
      <hr>
      <button @click="storePlayer">Add player</button>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  computed: {
    ...mapState({
      players: (state) => state.players.players
    })
  },
  data () {
    return {
      searchQuery: '',
      player: ''
    }
  },
  mounted () {
    this.getPlayers()
  },
  methods: {
    ...mapActions({
      getPlayers: 'players/getPlayers',
      getPlayer: 'players/getPlayer',
      addPlayer: 'players/addPlayer',
      removePlayer: 'players/removePlayer'
    }),
    async getPlayerById () {
      if (!this.searchQuery || this.searchQuery.length <= 2) return
      const searchQuery = this.searchQuery.trim().toLowerCase()
      this.player = await this.getPlayer({ searchQuery })
      this.searchQuery = ''
    },
    async storePlayer () {
      const data = {
        name: 'new',
        lastname: 'new',
        puntaje: 10,
        nivel: 1,
        celular: [
          {
            company: 'new',
            number: 'new',
            active: true
          }
        ]
      }
      await this.addPlayer(data)
    },
    async deletePlayer (idPlayer) {
      await this.removePlayer({ idPlayer })
    },
    obtainNumber (player) {
      return 0
      // return player.celular[0].number || ''
    }

  }
}
</script>

<style lang="scss" scoped>

</style>
