<template>
    <div>
        {{players}}
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'PryPlayers',
  computed: {
    ...mapState({
      players: (state) => state.players.players
    })
  },
  mounted () {
    this.getPlayers()
  },
  methods: {
    ...mapActions({
      getPlayers: 'players/getPlayers',
      getPlayer: 'players/getPlayer',
      addPlayer: 'players/addPlayer',
      removePlayer: 'players/removePlayer'
    }),
    async getPlayerById () {
      if (!this.searchQuery || this.searchQuery.length <= 2) return
      const searchQuery = this.searchQuery.trim().toLowerCase()
      this.player = await this.getPlayer({ searchQuery })
      this.searchQuery = ''
    },
    async storePlayer () {
      const data = {
        name: 'new',
        lastname: 'new',
        puntaje: 10,
        nivel: 1,
        celular: [
          {
            company: 'new',
            number: 'new',
            active: true
          }
        ]
      }
      await this.addPlayer(data)
    },
    async deletePlayer (idPlayer) {
      await this.removePlayer({ idPlayer })
    },
    obtainNumber (player) {
      return 0
      // return player.celular[0].number || ''
    }

  }
}
</script>

<style lang="scss" scoped>

</style>
